@media only screen and (max-width: 550px) {
  .homePageContent {
    flex-direction: column;
    margin: 0 10px;
  }
}
.content
{
  color: rgb(0, 0, 114);
  height: 100vh;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
}
.homePageHeader
{
  text-align: center;
  color: rgb(0, 0, 114);
}
.homePageHeader h1
{
  margin: 2vh;
  font-family:'Times New Roman', Times, serif;
  font-size: 4em;
  font-style: italic;
  text-transform: uppercase;
  background-image: linear-gradient(blue, black);
            -webkit-text-fill-color: transparent;
            background-clip: text;
}
.meaning {
  font-size: 12px;
  font-style: italic;
}
.homePageContent
{
  display: flex;
  justify-content: space-between;
}
.selectEmployee {
  padding-left: 10px;
  border: 3px solid rgb(0, 140, 255);
  border-radius: 10px;
  padding: 0.7rem;
  margin-top: 10px;
  max-width: fit-content;
  max-height: 73px;
}
.showReports {
  padding-right: 10px;
}
.projectCard {
  border: 3px solid rgb(0, 140, 255);
  border-radius: 10px;
  padding: 1rem;
  margin: 5px 0px;
}
.footer {
  background-color: rgb(0, 0, 114);
  text-align: center;
  color: #ccc;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  border-radius: 3px;
}